*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#modal
{
    width: 400px;
    background-color: rgba(99, 174, 204, 0.795);
    border: #000 solid;
    border-radius: 20px;
    height: 200px;
    padding:  30px 20px;
    display: none;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}
#btn 
{
    background-color: rgb(243, 130, 168);
    padding: 10px;
    margin: 20px;
}
span
{
    position: absolute;
    top: 35px;
    right: 20px;
    font-size: 35px;
}